@import '../../../styles/mixins/fonts/open-sans';
@import '../../../styles/mixins/media/screen';
@import '../../../styles/colors';

// -------------
// Local mixins
// -------------
@mixin local--large-screen {
  @include desktop-up {
    @content;
  }
}

.featuredSection {
  // ----------
  // Overrides
  // ----------
  --color-text: #{$color-black--100};
  --color-background: #{$color-white--100};

  // ------
  // Style
  // ------
  color: var(--color-text);
  background: var(--color-background);
}
@import '../../../styles/mixins/fonts/open-sans';
@import '../../../styles/mixins/media/screen';

.featuredSection {
  display: flex;
  flex: 1;
  justify-self: center;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
  a {
    width: 100%;
  }
}
.link {
  text-decoration: none;
  color: var(--color-text);
  &:hover {
    text-decoration: underline;
  }
}
.featuredSectionImageContainer {
  flex: 1;
  flex-basis: 5em;
  min-width: 100%;
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
  source {
    height: 0;
  }
}

.articleMainImageContainer {
  flex: 1;
  flex-basis: 5em;
  min-width: 100%;
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
  source {
    height: 0;
  }
}

.featuredSectionTitle {
  @include open-sans(600);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-size: 3.2em;
}
.featuredSectionIngress {
  @include open-sans(300);
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
