@import '../../../styles/mixins/fonts/open-sans';
@import '../../../styles/mixins/media/screen';
@import '../../../styles/colors';

// -------------
// Local mixins
// -------------
@mixin local--large-screen {
  @include desktop-up {
    @content;
  }
}

.featuredSection {
  // ----------
  // Overrides
  // ----------
  --color-text: #{$color-black--100};
  --color-background: #{$color-white--100};
  --color-background--dark: #{$color-dark-blue--dark};

  // ------
  // Style
  // ------
  color: var(--color-text);
  background: var(--color-background);
}
@import '../../../styles/mixins/fonts/open-sans';
@import '../../../styles/mixins/media/screen';

.featuredSection {
  display: flex;
  flex: 1;
  justify-self: center;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}
.featuredSectionImageContainer {
  flex: 1;
  flex-basis: 5em;
  min-width: 100%;
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
  source {
    height: 0;
  }
}
.featuredSectionTitle {
  @include open-sans(600);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.featuredSectionIngress {
  @include open-sans(300);
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

//.featuredSectionTitle {
//  @include open-sans(600);
//  font-size: 2em;
//}
//.featuredSectionSubTitle {
//  @include open-sans();
//  font-size: 1.2em;
//}
//.featuredSectionDescriptionGrid {
//  align-self: stretch;
//  overflow: hidden;
//  display: grid;
//  align-items: start;
//  gap: var(--settings-gutter);
//  margin-top: 6em;
//  grid-template-columns: repeat(1, 1fr);
//  @include local--large-screen {
//    grid-template-columns: repeat(2, 1fr);
//  }
//}
//.featuredSectionDescription {
//  $local--description--gutter: 4em;
//  $local--description--gutter--half: $local--description--gutter / 2;
//  $local--border-width: 0.15em;
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//  text-align: left;
//  justify-self: center;
//  border-left: $local__border-width var(--color-text) solid;
//  padding: $local--description--gutter--half $local--description--gutter
//    $local--description--gutter--half $local--description--gutter;
//  max-width: 24em;
//  margin-left: 1em;
//
//  @include local__large-screen {
//    margin-left: 4em;
//  }
//
//  // Circles
//  &:before,
//  &:after {
//    $local--radius: $local--border-width * 6;
//    display: block;
//    position: relative;
//    margin-top: calc(#{$local--description--gutter--half} * -1);
//    margin-left: calc(
//      #{$local--description--gutter} * -1 - (#{$local--border-width} + #{$local--radius}) / 2
//    );
//    content: '';
//    height: $local--radius;
//    width: $local--radius;
//    border-radius: $local--radius;
//    background: var(--color-text);
//  }
//  // Bottom circle
//  &:after {
//    bottom: calc(#{$local--description--gutter--half} * -1);
//  }
//}
//.featuredSectionIllustrationContainer {
//  display: flex;
//  flex: 1;
//  overflow: hidden;
//  max-width: 40em;
//}
